/toeic-core-test/toeic-core-test.iml
/toeic-core-test/target
/toeic-platform-common/target
/toeic-platform-core-dao/target
/toeic-platform-core-dao-impl/target
/toeic-platform-core-data/target
/toeic-platform-core-dto/target
/toeic-platform-core-persistence-data/target
/toeic-platform-core-service/target
/toeic-platform-core-service-impl/target
/toeic-platform-core-utils/target
/toeic-web/toeic-web.iml
/toeic-web/target
/toeic-web-logic/toeicweblogic.iml
/toeic-web-logic/target
